<!DOCTYPE html>
<html>
	<head>
		<title>Статьи</title>
	</head>
	<body>
		<div style="width:70%; margin:50px auto;">
			<h2>Список статей</h2>
			<div id="tableAuthors">
			</div>
		</div>
	</body>
	<script type="text/javascript">
	function getList(){
		$.ajax({
	  		url: 'posts/list',
	  		success: function(data){

		    	var table = $('<table class="table table-bordered table-hover" id="paggination"></table>');
		    	
				var thead =$('<thead></thead>');

				var tr =$('<tr></tr>');

				var td = $("<th></th>").html("Автор");
		    	tr.append(td);

	    		var td = $("<th></th>").html("Название статьи");
	    		tr.append(td);

	    		var td = $("<th></th>").html("Дата создания");
	    		tr.append(td);

	    		var td = $("<th></th>").html("Теги");
	    		tr.append(td);

		    	thead.append(tr);
				table.append(thead);

	    		for (var i=0; i<data.length; i++){

		    		var tr = $('<tr onclick="showPost('+data[i].id+')"></tr>');

		    		var td = $("<td></td>").html(data[i].label);
		    		tr.append(td);

		    		var td = $("<td></td>").html(data[i].name_author);
		    		tr.append(td);

		    		var td = $("<td></td>").html(new Date(data[i].created_at));
		    		tr.append(td);

		    		var td = $("<td></td>");
					var tags = data[i].tag;
		    		for (var j=1; j<tags.length; j++) {
		    			var tag="";
		    			if (tags[j]==='"'){
		    				j++;
		    				while (tags[j]!='"'){
		    					tag+=tags[j];
		    					j++;
		    				}
		    				td.append('<code>'+tag+"</code>");
		    			}
		    		}
		    		tr.append(td);

		    		table.append(tr);
	    		}
				$("#tableAuthors").html(table);	
				$("#paggination").DataTable();
	  		}
		})
	}
	getList();
	function showPost(id){
		location.href="/post?="+id;
	}
	</script>
</html>
