<!DOCTYPE html>
<html>
	<head>
		<title>Авторы</title>
	</head>
	<body>
		<div style="width:70%; margin:50px auto;">
			<h2>Авторы</h2>
			<div id="tableAuthors">
			</div>
		</div>
	</body>
	<script type="text/javascript">
	function getList(){
		$.ajax({
	  		url: 'authors/list',
	  		success: function(data){
		    	var table = $('<table class="table table-bordered table-hover" id="paggination"></table>');
		    	
				var thead =$('<thead></thead>');

				var tr =$('<tr></tr>');

				var td = $("<th></th>").html("ID");
		    	tr.append(td);

	    		var td = $("<th></th>").html("Имя");
	    		tr.append(td);

	    		var td = $("<th></th>").html("Email");
	    		tr.append(td);

	    		var td = $("<th></th>").html("Город");
	    		tr.append(td);

	    		var td = $("<th></th>").html("Адресс");
	    		tr.append(td);

		    	var td = $("<th></th>").html("Дата рождения");
	    		tr.append(td);

		    	thead.append(tr);
				table.append(thead);

	    		for (var i=0; i<data.length; i++){
		    		var tr = $('<tr onclick="infoAuthor('+data[i].id+')"></tr>');

		    		var td = $("<td></td>").html(data[i].id);
		    		tr.append(td);

		    		var td = $("<td></td>").html(data[i].name);
		    		tr.append(td);

		    		var td = $("<td></td>").html(data[i].email);
		    		tr.append(td);

		    		var td = $("<td></td>").html(data[i].city);
		    		tr.append(td);

		    		var td = $("<td></td>").html(data[i].adress);
		    		tr.append(td);

		    		var td = $("<td></td>").html(data[i].birth);
		    		tr.append(td);

		    		table.append(tr);
	    		}
				$("#tableAuthors").html(table);	
				$("#paggination").DataTable({
					processing: true,
				    serverSide: true,
				    ajax: '/authors/list',
				});
	  		}
		})
	}
	getList();
	function infoAuthor(id){
		location.href="info?="+id;
	}
	</script>
</html>
